DATABASE = nomeDoBanco
DATABASE_HOST = localhost
DATABASE_PORT = 5432
DATABASE_USERNAME = postgres
DATABASE_PASSWORD = senhaDoBanco

PORT = suaporta
SECRET = suaSenha
SECRET_ADMIN = suaSenhaAdmin
CLIENT = pg

PMSE_USER=seu_cpf
PMSE_PASS=sua_senha

NODE_ENV=development

FRONTEND_URL=http://localhost:5284
BACKEND_URL=http://localhost:3111